In [37]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None  # default='warn'

df = pd.DataFrame(columns=['x'], data=[[1, 2]])
df['a'] = [3, 4]
df['b'] = [5, 6]

df2 = pd.DataFrame()
df2['c'] = [3, 5]
df2['d'] = [4, 5]

def concat_columns(source, to_add):
    df = source.copy()
    cols_to_add = to_add.columns
    for col in cols_to_add:
        df[col] = to_add[col]

    return df

def concat_dict(source, dict_to_add):
    df = source.copy()
    
    for col in dict_to_add:
        df[col] = dict_to_add[col]

    return df

dictio = {
    'd' : 'ciao',
    'eee' : 'bello'
}
    
dd = concat_dict(df, dictio)
dd['asddad'] = 42
dd

   c  d    x    a    b  asddad
0  3  4  1.0  1.0  2.0      42
1  5  5  NaN  NaN  NaN      42